.frame-register {
  background-color: rgba(255, 255, 255, 1);
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  width: 100%;
}

.frame-register .div {
  background: linear-gradient(
    180deg,
    rgb(147, 211, 255) 0%,
    rgb(143.44, 208.06, 251.63) 0.01%,
    rgb(90, 164, 201) 69.58%,
    rgb(38, 58, 73) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.frame-register .overlap {
  height: 20rem;
  left: 57rem;
  position: absolute;
  top: 3rem;
  width: 471px;
}

.frame-register .hexagons {
  height: 255px;
  left: 9px;
  position: absolute;
  top: 212px;
  width: 434px;
}

.frame-register .cloud-storage-image {
  height: 364px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 449px;
}

.frame-register .ellipse {
  background: linear-gradient(180deg, rgb(5, 68, 112) 3.8%, rgba(89.02, 47.65, 243.31, 0.82) 100%);
  border-radius: 61px;
  height: 122px;
  left: 0;
  position: absolute;
  top: 0;
  width: 122px;
}

.frame-register .ellipse-2 {
  background: linear-gradient(
    180deg,
    rgb(5, 68, 112) 0%,
    rgba(89.02, 47.65, 243.31, 0.82) 100%,
    rgb(119, 163, 195) 100%
  );
  border-radius: 14rem;
  height: 10rem ;
  left: 55rem;
  position: absolute;
  top: 34rem;
  width: 10rem;
}

.frame-register .ellipse-3 {
  background: linear-gradient(180deg, rgb(5, 68, 112) 2.84%, rgb(46.8, 108.77, 153.85) 100%);
  border-radius: 15rem;
  height: 13rem;
  left: 90rem;
  position: absolute;
  top: 16rem;
  width: 13rem;
}



.frame-register .image {
  height: 78px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 118px;
}

.frame-register .nameBox input[type="text"]{
  position: absolute;
  left: 12rem;
  top: 14rem;
  height: 2rem;
  width: 23rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 2px;
  padding-left: 10px;
}
.frame-register .nameBox input[type="text"]:focus {
  outline: none; 
  border: 1px solid black; 
}


.frame-register .emailBox input[type="email"]{
  position: absolute;
  left: 12rem;
  top: 18rem;
  height: 2rem;
  width: 23rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 2px;
  padding-left: 10px;
}
.frame-register .emailBox input[type="email"]:focus {
  outline: none; 
  border: 1px solid black; 
}

.frame-register .departmentBox input[type="text"]{
  position: absolute;
  left: 12rem;
  top: 22rem;
  height: 2rem;
  width: 23rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 2px;
  padding-left: 10px;
}
.frame-register .nameBox input[type="text"]:focus {
  outline: none; 
  border: 1px solid black; 
}


.frame-register .passwordBox input[type="password"]{
  position: absolute;
  left: 12rem;
  top: 26rem;
  height: 2rem;
  width: 23rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  padding-left: 10px;
}
.frame-register .emailBox input[type="password"]:focus {
  outline: none; 
  border: 1px solid black; 
}

.frame-register .confirm_password input[type="password"]{
  position: absolute;
  left: 12rem;
  top: 30rem;
  height: 2rem;
  width: 23rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  padding-left: 10px;
}

.frame-register .confirm_password input[type="password"]:focus {
  outline: none; 
  border: 1px solid black; 
}

.frame-register .loginBox {
  border: none;
  border-radius: 2rem;
  position: absolute;
  left: 12rem;
  top: 34rem;
  height: 15rem;
  height: 2rem;
  width: 24rem;
  background-color: white;
  color: #054470;
  border: 1px solid rgb(255, 255, 255);
  font-size: 1.2rem;
}
.frame-register .registerLine {
  position: absolute;
  left: 17rem;
  top: 38rem;
}
.frame-register .registerLine a{
  text-decoration: none;
  color: white;
}

.frame-register .heading {
  color: #ffffff;
  font-family: "Exo", Helvetica;
  font-size: 29px;
  font-weight: 600;
  left: 15rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10rem;
  width: 18rem;
}