.frame-create {
  background: linear-gradient(
    180deg,
    rgb(147, 211, 255) 0%,
    rgb(143.44, 208.06, 251.63) 0.01%,
    rgb(90, 164, 201) 69.58%,
    rgb(38, 58, 73) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 821px;
  overflow: hidden;
  position: relative;
  width: 1138px;
}

.frame-create .overlap {
  height: 20px;
  left: 104px;
  position: absolute;
  top: 632px;
  width: 326px;
}

.frame-create .lines {
  height: 1px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 326px;
}

.frame-create .line {
  height: 1px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 138px;
}

.frame-create .img {
  height: 1px;
  left: 188px;
  position: absolute;
  top: -1px;
  width: 138px;
}

.frame-create .text-wrapper {
  color: #00000080;
  font-family: "Exo", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}

.frame-create .already-a-member {
  color: transparent;
  font-family: "Exo", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 190px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 671px;
  width: 190px;
}

.frame-create .span {
  color: #00000080;
}

.frame-create .text-wrapper-2 {
  color: #ffffff;
}

.frame-create .frame {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 1px 2px #00000040;
  height: 41px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 571px;
  width: 329px;
}

.frame-create .div {
  color: #00000080;
  font-family: "Exo", Helvetica;
  font-size: 17px;
  font-weight: 600;
  height: 30px;
  left: 127px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 74px;
}

.frame-create .group {
  height: 24px;
  left: 115px;
  position: absolute;
  top: 531px;
  width: 332px;
}

.frame-create .frame-wrapper {
  height: 18px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 18px;
}

.frame-create .union-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0b4654;
  border-radius: 2.96px;
  height: 18px;
  overflow: hidden;
  position: relative;
}

.frame-create .union {
  height: 7px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 9px;
}

.frame-create .i-agree-to-the-terms {
  color: transparent;
  font-family: "Athiti", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 302px;
}

.frame-create .text-wrapper-3 {
  color: #ffffff;
  font-weight: 500;
}

.frame-create .div-wrapper {
  border: 1.3px solid;
  border-color: #ffffffb5;
  border-radius: 4px;
  height: 41px;
  left: 115px;
  overflow: hidden;
  position: absolute;
  top: 467px;
  width: 329px;
}

.frame-create .text-wrapper-4 {
  color: #32323280;
  font-family: "Exo", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 136px;
}

.frame-create .frame-2 {
  border: 1.3px solid;
  border-color: #ffffffb5;
  border-radius: 4px;
  height: 41px;
  left: 115px;
  overflow: hidden;
  position: absolute;
  top: 407px;
  width: 329px;
}

.frame-create .text-wrapper-5 {
  color: #32323280;
  font-family: "Exo", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 79px;
}

.frame-create .password-hide-and {
  height: 20px !important;
  left: 293px !important;
  position: absolute !important;
  top: 11px !important;
  width: 20px !important;
}

.frame-create .overlap-group-wrapper {
  border: 1.3px solid;
  border-color: #ffffffb5;
  border-radius: 4px;
  height: 41px;
  left: 115px;
  overflow: hidden;
  position: absolute;
  top: 345px;
  width: 328px;
}

.frame-create .overlap-group {
  height: 18px;
  left: 16px;
  position: relative;
  top: 10px;
  width: 132px;
}

.frame-create .flags-instance {
  height: 12px !important;
  top: 5px !important;
  width: 17px !important;
}

.frame-create .text-wrapper-6 {
  color: #32323280;
  font-family: "Exo", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 132px;
}

.frame-create .frame-3 {
  border: 1.3px solid;
  border-color: #ffffffb5;
  border-radius: 4px;
  height: 41px;
  left: 115px;
  overflow: hidden;
  position: absolute;
  top: 285px;
  width: 329px;
}

.frame-create .text-wrapper-7 {
  color: #31313173;
  font-family: "Exo", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 117px;
}

.frame-create .frame-4 {
  border: 1.3px solid;
  border-color: #ffffffb5;
  border-radius: 4px;
  height: 41px;
  left: 115px;
  overflow: hidden;
  position: absolute;
  top: 225px;
  width: 329px;
}

.frame-create .text-wrapper-8 {
  color: #31313173;
  font-family: "Exo", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 117px;
}

.frame-create .overlap-2 {
  height: 468px;
  left: 578px;
  position: absolute;
  top: 78px;
  width: 471px;
}

.frame-create .hexagons {
  height: 255px;
  left: 9px;
  position: absolute;
  top: 212px;
  width: 434px;
}

.frame-create .cloud-storage-image {
  height: 364px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 449px;
}

.frame-create .ellipse {
  background: linear-gradient(180deg, rgb(5, 68, 112) 3.8%, rgba(89.02, 47.65, 243.31, 0.82) 100%);
  border-radius: 61px;
  height: 122px;
  left: 0;
  position: absolute;
  top: 0;
  width: 122px;
}

.frame-create .ellipse-2 {
  background: linear-gradient(
    180deg,
    rgb(5, 68, 112) 0%,
    rgba(89.02, 47.65, 243.31, 0.82) 100%,
    rgb(119, 163, 195) 100%
  );
  border-radius: 97px;
  height: 194px;
  left: 561px;
  position: absolute;
  top: 549px;
  width: 194px;
}

.frame-create .ellipse-3 {
  background: linear-gradient(180deg, rgb(5, 68, 112) 2.84%, rgb(46.8, 108.77, 153.85) 100%);
  border-radius: 97px;
  height: 194px;
  left: 1055px;
  position: absolute;
  top: 304px;
  width: 194px;
}

.frame-create .text-wrapper-9 {
  color: #ffffff;
  font-family: "Exo", Helvetica;
  font-size: 29px;
  font-weight: 600;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 152px;
  width: 287px;
}

.frame-create .image {
  height: 78px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 118px;
}
